body {
  margin: 0;
  font-family: Courier Prime, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 레이아웃 잡기용 */
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  /* IPhone 13 기준 */
  height: 844px;
  width: 390px;
  align-items: center;
  background-color: white;
}

@media screen and (max-width: 768px) {
  #root {
    width: 100vw;
    height: 100vh;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 0.75rem;
}
